# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# data
*.hdf5
*.zip
*.mp4

# models
*.pkl

# folders
results
tensorboard
pretrained_models
logs
*/results

# logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints*

# garbage
*.DS_Store
